#hr{
    border-bottom: pink dotted 2px ;
}

.bgc{
    background-color: #663471;
}

.bg{
    background-color: #663471;
}

h3{
    color: white
}

p{
    color: white
}

b.png{
    height: 20px;
    width: 20px
}