<ion-content>

    <!-- <ion-searchbar class="searchbar" color="shade">
        </ion-searchbar> -->
    <div id="map_canvas" style="height: 100%; width: 100%">
      <div id="imageContainer">
      </div>
      <!-- <ion-button click=""> click me!</ion-button> -->
    </div>
  </ion-content>
  
  <ion-bottom-drawer [(state)]="state" [dockedHeight]="300" distanceTop="100" minimumHeight="0">
    <div class="space"></div>
    <div class="gray"></div>
    <img class="truck" src="../../assets/icon/ree.png" alt="">
    <div class="margin">
      <h3>Leons IceCreamTruck</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla eu leo in neque pellentesque accumsan. Lorem ipsum dolor sit amet consectetur adipiscing.</p>
      <div id="hr">
        <H3>schedule:</H3>
        <p>8:00AM-5:30PM</p>
      </div>
      <div id="hr">
        <h3>Contact Information:</h3>
        <p>filler@mail.com</p>
        <p>(999)-999-9999</p>
      </div>
    </div>
  </ion-bottom-drawer>