<ion-content>

    <!-- <ion-searchbar class="searchbar" color="shade">
        </ion-searchbar> -->
    <div id="map_canvas" style="height: 100%; width: 100%">
        <div id="imageContainer">
        </div>
        <!-- <ion-button click=""> click me!</ion-button> -->
    </div>
</ion-content>

<ion-bottom-drawer [(state)]="state" [dockedHeight]="300" distanceTop="0" minimumHeight="0">
    <div id="pbg">
        <div class="space"></div>
        <div class="gray"></div>
        <h3>{{truck.name}}</h3>
        <p id="rbg">{{truck.desc[0]}}{{truck.desc[1]}}</p>
        <img class="truck" src="../../assets/icon/ree.png" alt="">
    </div>
        <div class="margin">
        </div>
        <div>
            <H3 id="pc">Today's schedule</H3>

            <p id="schedule">{{truck.time}}</p>
        </div>
</ion-bottom-drawer>